{port_specs, [{manual, []}]}.
{pre_hooks, [{"linux",  compile, "make -f c_src/Makefile"},
             {"linux",  clean,   "make -f c_src/Makefile clean"}]}.
{deps, [
    {emmap, ".*", {git, "git://github.com/krestenkrab/emmap.git", "master"}},
    {inotify, ".*", {git, "https://github.com/sheyll/inotify.git"}}
]}.